.footer{
    height: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    &-top, &-bottom {
        width: 50%;
        @include flex(row,space-between, null);
        
        ul{
            list-style: none;
        }
        
    }
}